{% block content %}
    <h1>Búsqueda de Vinilos Por Titulo</h1>
    <form method="get" action="{% url 'buscar_vinilos' %}">
        <input type="text" name="consulta" value="{{ consulta }}" placeholder="Escribe el título del vinilo">
        <button type="submit">Buscar</button>
    </form>

    {% if resultados %}
        <h2>Resultados</h2>
        <ul>
            {% for vinilo in resultados %}
                <li>
                    <strong>{{ vinilo.titulo }}</strong><br>
                    <strong>Artista:</strong> {{ vinilo.artista }}<br>
                    <strong>Precio:</strong> {{ vinilo.precio }}<br>
                    <strong>Descripción:</strong> {{ vinilo.descripcion }}<br>
                    <strong>Stock:</strong> {{ vinilo.stock }}<br>  <!-- Se agregó stock aquí -->
                    <strong>Imagen:</strong><br>
                    <img src="{{ vinilo.imagen }}" alt="Imagen del vinilo" width="150"><br>
                    <!-- Botón de compra -->
                    <a href="{{ vinilo.enlace }}" target="_blank">
                        <button type="button">Comprar Producto</button>
                    </a>
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados para "{{ consulta }}"</p>
    {% endif %}
{% endblock %}
