<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinyl Explorer</title>
</head>
<body>
    <h1>Vinyl Explorer</h1>
    <p>Haz clic en el botón para cargar la base de datos con los datos de los vinilos.</p>
    <form action="{% url 'cargar_bd' %}" method="post">
        {% csrf_token %}
        <button type="submit">Cargar Base de Datos</button>
    </form>
    <p>Haz clic en el botón para buscar vinilos.</p>
    <form action="{% url 'buscar_vinilos' %}" method="get">
        <input type="text" name="consulta" placeholder="Escribe el título del vinilo">
        <button type="submit">Buscar</button>
    </form>
    <p>Haz clic en el botón para buscar vinilos por artista.</p>
    <form action="{% url 'buscar_por_artista' %}" method="get">
        <input type="text" name="consulta" placeholder="Escribe el título del artista">
        <button type="submit">Buscar</button>
    </form>
</body>
</html>
